{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a class="plzbwhite" href="{% url 'recipe_list' %}">Main page</a>
    </nav>
</header>
<main>
    <h1>Create a recipe</h1>
    <!-- The form tag will make an HTTP POST method back to the same URL -->
    <form method="post">
        <!-- The token creates a hidden input tag that contains a security token -->
        {% csrf_token %}
        <!-- The form.as_p create all the HTML fields that we defined on the RecipeForm -->
        {{ form.as_p }}
        <button>Create</button>
    </form>
</main>
{% endblock content %}
