{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a class="plzbwhite" href="{% url 'recipe_list' %}">Main page</a>
        {% if user.is_authenticated %}
        <a class="plzbwhite" href="{% url 'edit_recipe' recipe_object.id %}">Edit a recipe</a>
        {% endif %}
    </nav>
</header>
<main>
    <div class="main2">
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}">
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table class="letable">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ ingredient.amount }}</td>
                    <td>{{ ingredient.food_item }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            <!-- we can loop over because of the argument passed to foreign key: related_name="steps", -->
            <!-- That creates that steps attribute so we can use the Queryset by calling the all method on it -->
            {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
    </div>
</main>
{% endblock content %}
