/* the css folder is just to to keep files organized */
/* a static file is one that doesn't change, html changes, so it's in the templates directory */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
  }

* {
    box-sizing: inherit;
}

.plzbwhite {
    color: white;
    /* puts space in nav tags*/
    margin-right: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* removes underline from anchor tags */
a {
    text-decoration: none;
    color: #44803F;
}

a:hover {
    color: #FFEC5C;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 0px;
    margin: 1px;
}

.main2 {
    padding: 12px;
    margin-bottom: 24px;
}

footer {
    padding: 24px;
    margin-top: 32px;
    background-color: #B4CF66;
    margin-top: auto;
    /* doubling font-size looks bad...
    font-size: 2em; */
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid #146152;
    background-color: #FF5A33;
}

h1 {
    color: #146152;
}

/* table class */
tr:nth-child(even) {
    background-color: lightgray;
}

th {
 font-style: bold;
}

/* changes the forms styling */
input {
    border-radius: 5px;
    /* text-align: none;
    overflow-wrap: break-word; */
    padding: 3px;
    border-width: medium;
    width: 250px;
}

/* changes the forms styling */
textarea {
    border-radius: 5px;
    /* text-align: none;
    overflow-wrap: break-word; */
    padding: 3px;
    border-width: medium;
    width: 500px;
}

/* changes the forms styling */
/* label {

} */

/* uses cycle filter to change every 3rd recipe in list.html */
/* https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#cycle */
/* .row3 {
    background-color: grey;
} */
